@using Microsoft.AspNet.Identity
@using StackOverflow.Data.Migrations
@model IEnumerable<StackOverflow.Web.Models.QuestionListModel>

@{
    ViewBag.Title = "Index";
}
<h2 style="text-decoration: underline; text-indent: 5px">Index</h2>

<p>
    <button class="btn btn-info" style="width: 120px; border-radius: 24px; text-align: center"><a href="@Url.Action("IndexAddQuestion", "Question")" style="color: black"><b>New Question</b></a></button>
</p>
<table class="table">
    <tr style="background-color: cadetblue; color: black; ">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th style="text-indent: 50px">
            @Html.DisplayName("Creation Date")
        </th>
        <th style="text-indent: 50px">
            @Html.DisplayName("Question Owner")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="background-color: lightgray">
        <td>
            <button class="btn btn-success" style="width: 200px; border-radius: 24px"><a href="@Url.Action("QuestionDetails", "Question", new {id = item.QuestionId})" style="color: black"><b>@Html.DisplayName(item.Title)</b></a></button>
        </td>
        <td style="text-indent: 12px">
            <b>@Html.DisplayFor(modelItem => item.Votes)</b>
        </td>
        <td>
            <b>@Html.DisplayName(item.CreationTime.ToString("D"))</b>
        </td>
        <td>
            <button class="btn btn-warning" style="width: 200px; border-radius: 24px"><a href="@Url.Action("ProfileView", "Account", new {id = item.OwnerId})" style="color: black"><b>@Html.DisplayName(item.OwnerName)</b></a></button>
            @*<label class="label-warning" style="border-radius: 24px; width: 200px; text-align: center;">@Html.ActionLink(item.OwnerName, "ProfileView", "Account", new {id = item.OwnerId}, null)</label>*@
        </td>
        <td>
            @if (Context.User.Identity.IsAuthenticated)
            {
                if (item.OwnerId == Guid.Parse(Context.User.Identity.Name))
                {
                    <a href="@Url.Action("DeleteQuestion", "Question", new{id = item.QuestionId})">
                        <img src="~/Resources/x_delete.png" style="width: 20px; height: 20px" />
                    </a>
                }
            }     
        </td>
    </tr>
}

</table>