@using Microsoft.AspNet.Identity
@model IEnumerable<StackOverflow.Web.Models.QuestionListModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("New Question", "IndexAddQuestion")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th>
            @Html.DisplayName("Creation Date")
        </th>
        <th>
            @Html.DisplayName("Question Owner")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title,"QuestionDetails",new {id =item.QuestionId})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationTime)
        </td>
        <td>
            @Html.ActionLink(item.OwnerName,"ProfileView", "Account", new {id=item.OwnerId}, null)            
        </td>
        <td>
            @if (Context.User.Identity.IsAuthenticated && Context.User.Identity.Name == item.OwnerName)
            {
                <p>
                    @Html.ActionLink("Edit", "Edit", new {id = item.QuestionId}) | 
                    @Html.ActionLink("Delete", "Delete", new {id = item.QuestionId})
                </p>
            }            
        </td>
    </tr>
}

</table>
