@using Microsoft.AspNet.Identity
@model IEnumerable<StackOverflow.Web.Models.QuestionListModel>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-decoration: underline; text-indent: 5px">Index</h2>

<p>
    <label class="label-success"style="border-radius: 24px; width: 80px; text-align: center; color: rgb(0, 153, 0)">@Html.ActionLink("New Question", "IndexAddQuestion")</label>
</p>
<table class="table">
    <tr style="background-color: cadetblue ">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th style="text-indent: 50px">
            @Html.DisplayName("Creation Date")
        </th>
        <th style="text-indent: 50px">
            @Html.DisplayName("Question Owner")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="background-color: lightgray">
        <td>
            <b>@Html.ActionLink(item.Title,"QuestionDetails",new {id =item.QuestionId})</b>
        </td>
        <td style="text-indent: 12px">
            <b>@Html.DisplayFor(modelItem => item.Votes)</b>
        </td>
        <td>
            <b>@Html.DisplayName(item.CreationTime.ToString("D"))</b>
        </td>
        <td>
            <label class="label-warning" style="border-radius: 24px; width: 200px; text-align: center;">@Html.ActionLink(item.OwnerName, "ProfileView", "Account", new { id = item.OwnerId }, null)</label>
</td>
        <td>
            @if (Context.User.Identity.IsAuthenticated && Context.User.Identity.Name == item.OwnerName)
            {
                <p>
                    @Html.ActionLink("Edit", "Edit", new {id = item.QuestionId}) | 
                    @Html.ActionLink("Delete", "Delete", new {id = item.QuestionId})
                </p>
            }            
        </td>
    </tr>
}

</table>