@using System.Data.Entity.Core.Common.EntitySql
@model StackOverflow.Web.Models.PasswordRecovery

@{
    ViewBag.Title = "PasswordRecovery";
}

@if(Model.Error!=null)
{
    <script>
        alertify.error(@Html.Raw(Json.Encode(Model.Error))).show;
    </script>
}
@if(Model.Success!=null)
{
    <script>
        alertify.success(@Html.Raw(Json.Encode(Model.Success))).show;
    </script>
}

<h2>Password Recovery</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr/>
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.email, "Email: ", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send Email" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
