@model StackOverflow.Web.Models.ProfileModel

@{
    ViewBag.Title = "ProfileView";
}

<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>
                    @Html.DisplayFor(i=>Model.UserName)
                </h1>
            </div>
        </div>
    </div><!-- /cont -->


</div>


<div class="container">
    <div class="row">

        <div class="col-md-12">

            <div class="panel">
                <div class="panel-body">


                    <!--/stories-->
                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <a class="story-img" href="#"><img src="~/Resources/User.png" style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h3>Post Entry Title</h3>
                            <div class="row">
                                <div class="col-xs-9">
                                    <p>
                                        Email: @Html.DisplayFor(i=>Model.Email)
                                    </p>
                                    <p>
                                        Reputation: @Html.DisplayFor(i => Model.ReputationScore)
                                    </p>
                                    <p>
                                        Views: @Html.DisplayFor(i => Model.Views)
                                    </p>
                                    <p>
                                        Joined: @Html.DisplayFor(i => Model.CreationDate)
                                    </p>
                                    <p>
                                        Last Seen: @Html.DisplayFor(i => Model.LastLogTime)
                                    </p>
                                    <div role="tabpanel">

                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#recentQ" aria-controls="recentQ" role="tab" data-toggle="tab">Last Questions</a></li>
                                            <li role="presentation"><a href="#recentAns" aria-controls="recentAns" role="tab" data-toggle="tab">Last Answers</a></li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="recentQ" style="color: black">
                                                @{Html.RenderAction("RecentQuestions","Question", new{ownerId=Model.UserId});}
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="recentAns">
                                                @{Html.RenderAction("RecentAnswers","Answer",new{ownerId = Model.UserId});}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <hr>

                </div>
            </div>



        </div><!--/col-12-->
    </div>
</div>

