@model IEnumerable<StackOverflow.Web.Models.AnswerListModel>

@{
    ViewBag.Title = "AnswerIndex";
}

<h2>Answers</h2>

<p>
    @Html.ActionLink("New Answer", "AddNewAnswer", TempData["QRef"] = TempData["QuestionRef"])
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Answer")
        </th>
        <th>
            @Html.DisplayName("Creator")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th>
            @Html.DisplayName("Creation Date")
        </th>
    @**@    <th> </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.AnswerCount, "AnswerDetails","Answer", new{id = item.AnswerId},null)
        </td>
        <td>
            <label class="label-primary" style="border-radius: 24px">@Html.DisplayFor(modelItem => item.OwnerName)</label>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.DisplayName(item.CreationDate.ToString("D"))
        </td>
        <td>
            <label class="label-success" style="border-radius: 24px">@Html.DisplayFor(modelItem => item.BestAnswer)</label>
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})*@
        </td>
    </tr>
}

</table>

<div> @Html.ActionLink("Back To Question", "QuestionDetails", "Question", new {id = Guid.Parse(TempData["QuestionRef"].ToString())},null)</div>
