@model IEnumerable<StackOverflow.Web.Models.AnswerListModel>

@{
    ViewBag.Title = "AnswerIndex";
}

<h2 style="text-decoration: underline">Answers</h2>

<p>
    <label class="label-success" style="border-radius: 24px; width: 70px; text-align: center; color: rgb(0, 153, 0)">@Html.ActionLink("New Answer", "AddNewAnswer", TempData["QRef"] = TempData["QuestionRef"])</label>
</p>
<table class="table">
    <tr style="background-color: cadetblue">
        <th>
            @Html.DisplayName("Answer")
        </th>
        <th style="text-indent: 75px">
            @Html.DisplayName("Creator")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th style="text-indent: 50px">
            @Html.DisplayName("Creation Date")
        </th>
    @**@    <th> </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="background-color: lightgray">
        <td>
            @Html.ActionLink(item.AnswerCount, "AnswerDetails", "Answer", new { id = item.AnswerId }, null)
        </td>
        <td>
            <label class="label-warning" style="border-radius: 24px; width: 200px; text-align: center;">@Html.DisplayFor(modelItem => item.OwnerName)</label>
        </td>
        <td style="text-indent: 12px">
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.DisplayName(item.CreationDate.ToString("D"))
        </td>
        <td>
            @*<label class="label-success" style="border-radius: 24px">@Html.DisplayFor(modelItem => item.BestAnswer)</label>*@
            @if (item.BestAnswer != "")
            {
                <img src="~/Resources/ribbon_red.png" style="width: 50px; height: 70px"/>
            }
        </td>
        <td>
        </td>
    </tr>
}

</table>

<div> @Html.ActionLink("Back To Question", "QuestionDetails", "Question", new {id = Guid.Parse(TempData["QuestionRef"].ToString())},null)</div>
